/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,900,500); */
.fullscreen {
  background-image: url("../../assets/images/confirmPic.png");
  height: 100vh;
  width: 100vw;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  justify-items: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .fullscreen {
    background-image: url("../../assets/images/confirmPic.png");
  }  
}

.fullscreen h1 {
  font-family: 'Lucida Sans Unicode', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
  color: white;
  position: relative;
  /* top: -77px; */
}
.fullscreen h2 {
  font-family: 'Lucida Sans Unicode', 'Lucida Sans Regular', 'Lucida Grande',  Geneva, Verdana, sans-serif;
  color: white;
  position: relative;
  /* top: -77px; */
}


