.btn-primary {
    color: #00FFFF;
    background-color: transparent;
    border: 3px solid #00FFFF;
    font-weight: bold;
}

.btn-primary:hover {
     background-color: #00FFFF;
     color: #000;
}

.btn-success {
    background-color: transparent;
    color: #15E95C;
    border: 3px solid #15E95C;
    font-weight: bold;
}

.btn-success:hover {
    background-color: #15E95C;
    color: #000;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 3px
}

#menu-icon {
    display: hidden;
    width: 50px;
    height: 50px;
    background: #ffd701 url("/assets/images/menu-icon.png") center;
    border-radius: 9px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 4;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

li>a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bold;
}

img {
    width: 100%;
    background-color: #fff;
    border-radius: 15%;
}

header {
    background-color: rgba(38, 37, 34, 0.69);
    width: 100%;
    height: 90px;
    position: fixed;
    padding: 10px;
    z-index: 100;
    transition: padding 0.7s;
}

.navbar-brand span {
    color: whitesmoke;
    margin-left: 10px;
    font-size: 17px;
}

.user_name {
    font-size: 20px;
    color: #15E95C;
}

#logo {
    z-index: 1;
    float: left;
    width: 100px;
    height: 100px;
    background: url("/assets/images/brand.png") no-repeat center;
    display: block;
}

.navbar-brand img {
    width: 60px;
}

nav {
    float: right;
    padding: 10px;
}

#menu-icon {
    display: hidden;
    width: 50px;
    height: 50px;
    background: #ffd701 url("../../assets/menu-icon.png") center;
    cursor: pointer;
}

a:hover#menu-icon {
    background-color: #444;
    border-radius: 4px 4px 0 0;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

.current {
    color: #2262AD;
}

section {
    margin: 80px auto 40px;
    max-width: 980px;
    position: relative;
    padding: 20px
}

h1 {
    font-size: 20px;
    color: #2262AD;
    line-height: 1.15em;
    margin: 20px 0;
}

p {
    line-height: 1.45em;
    margin-bottom: 20px;
}

.forgetpw{
    text-decoration: underline;
    color: blue;
    padding-left: 0;
}

@media only screen and (max-width: 970px) {
    header {
        position: fixed;
    }
    .navbar-brand span {
        display: none;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        padding: 20px;
        background: #272733;
        border: 5px solid #444;
        right: 20px;
        top: 60px;
        width: 50%;
        border-radius: 4px 0 4px 4px;
    }
    li>a {
        color: #ffd701;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    }
}