
<!-- NV100 The Floating Nav Bar Itself -->
<div (click)="close()">
  <header>
    <span class="navbar-brand">
      <!-- Sailboat image -->
      <img alt="Brand" src="/assets/images/brand.png">
      <span>GPYC SAILING PROGRAM</span>
    </span>
    <!-- NV200 If the user is logged in, show the users name -->
    <span class="user_name" *ngIf="logged_user !== undefined ">Hi, {{user_log.identity}} {{logged_user}}</span>
    <nav>
      <span id="menu-icon" (click)="click()"></span>
      <ul id="check_box_nav">
        <li>
          <!-- NV300 If the admin_user is logged in (gpycwsp@gmail.com) -->
            <button *ngIf="admin_user !== undefined" type="submit" class="btn btn-primary update-button" (click)="display_code()">
                <i class="ion-android-boat"></i>Welcome GPYC Admin, you are one kickass lady... Update Reg Code</button>
        </li>
        <li>
          <!-- NV400 Update Profile Button = NV1200 Modal -->
            <button *ngIf="logged_user !== undefined" type="submit" class="btn btn-primary update-button" (click)="display_update()">
                <i class="ion-android-boat"></i>Update Profile</button>
        </li>
        <li>
          <!-- NV500 Scroll to Calendar Button -->
          <button type="button" class="btn btn-primary navbar-btn" (click)="scrollTo()">
            <i class="icon ion-md-calendar"></i> Calendar</button>
        </li>
        <li>
           <!-- NV600 Scroll to Calendar Button -->
          <button *ngIf="logged_user == undefined" type="submit" class="btn btn-primary" (click)="display_reg()">
            <i class="ion-android-boat"></i> Register</button>
        </li>
        <li>
          <!-- NV700 Login Button -->
          <button *ngIf="logged_user == undefined" type="button" class="btn btn-success" (click)="display_login()">
            <i class="ion-person"></i> Login</button>
        </li>
        <li>
           <!-- NV800 Login Button -->
          <button *ngIf="logged_user !== undefined " type="button" class="btn btn-danger" (click)="logout()">
            <i class="ion-person"></i> Logout</button>
        </li>
      </ul>
    </nav>
  </header>

 <!-- NVM900 Reg Form Modal -->
  <div id="regForm" class="modal">
    <div class="modal-content">
      <div style="text-align: center">
        <span id="reg1">
          <button>Register as Captain</button>
        </span>
        <span id="reg2">
          <button>Register as Student</button>
        </span>
      </div>

      <form id="cap" (submit)="capReg()">
        <h4>Register as Captain</h4>
        <div class="form-group">
          <label for="">Your Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="captain_reg.name" placeholder="Your name..." #capName="ngModel"
            required minlength="3">
        </div>
        <div class="alert alert-danger" *ngIf="capName.invalid && (capName.dirty || capName.touched)">
          <strong>User name is required and must be 3 characters long.
          </strong>
        </div>

        <div class="form-group">
          <label for="">Email Address</label>
          <input type="text" class="form-control" required pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})" name="email"
            [(ngModel)]="captain_reg.email" placeholder="Your email..." #capemail="ngModel">
        </div>

        <div class="alert alert-danger" *ngIf="capemail.invalid && (capemail.dirty || capemail.touched)">
          <strong>Email is required.</strong>
        </div>
        <div class="alert alert-danger" *ngIf="err_message.email">
          <strong>{{err_message.email}}</strong>
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="tel" class="form-control" name="phone" [(ngModel)]="captain_reg.phone" placeholder="Your Phone..." required
            #phone="ngModel">
        </div>

        <div class="form-group">
          <label>Your Password</label>
          <input type="password" class="form-control" required minlength="8" name="stupassword" [(ngModel)]="captain_reg.password"
            placeholder="Password..." #reghash="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="reghash.invalid && (reghash.dirty || reghash.touched)">
          <strong>Password is required and must be 8 characters long.</strong>
        </div>

        <div class="form-group">
            <label>GPYC WSP Registration Code (Contact: gpycwsp@gmail.com)</label>
            <input type="text" class="form-control" name="regcode" [(ngModel)]="captain_reg.regcode"
              placeholder="GPYC Registration Code">
        </div>
        <div class="alert alert-danger" *ngIf="reghash.invalid && (reghash.dirty || reghash.touched)">
          <strong>The registration code is incorrect.</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeReg()">Close</button>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
        <br/>
      </form>
 
      <!-- NVM1000 Register as Student Modal -->
      <form id="student" (submit)="studentReg()">
        <h4>Register as Student</h4>
        <div class="form-group">
          <label for="">Your Name</label>
          <input type="text" class="form-control" name="name" [(ngModel)]="student_reg.name" placeholder="Your name..." #studentName="ngModel"
            required minlength="3">
        </div>
        <div class="alert alert-danger" *ngIf="studentName.invalid && (studentName.dirty || studentName.touched)">
          <strong>User name is required and must be 3 characters long.
          </strong>
        </div>

        <div class="form-group">
          <label for="">Email Address</label>
          <input type="text" class="form-control" required pattern="[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]*\.([a-z]{2,4})" name="email"
            [(ngModel)]="student_reg.email" placeholder="Your email..." #email="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
          <strong>Email is required and checking the format.</strong>
        </div>
        <div class="alert alert-danger" *ngIf="err_message.email">
          <strong>{{err_message.email}}</strong>
        </div>

        <div class="form-group">
          <label for="">Phone</label>
          <input type="tel" class="form-control" name="phone" [(ngModel)]="student_reg.phone" placeholder="Your Phone..." required
            #phone="ngModel">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" required minlength="8" name="stupassword" [(ngModel)]="student_reg.password"
            placeholder="Password..." #stuhash="ngModel">
        </div>
        <div class="alert alert-danger" *ngIf="stuhash.invalid && (stuhash.dirty || stuhash.touched)">
          <strong>Password is required and must be 8 characters long.</strong>
        </div>

        <div class="form-group">
            <label>GPYC WSP Registration Code (Contact: gpycwsp@gmail.com)</label>
            <input type="text" class="form-control" name="regcode" [(ngModel)]="student_reg.regcode"
              placeholder="GPYC Registration Code">
        </div>
        <div class="alert alert-danger" *ngIf="reghash.invalid && (reghash.dirty || reghash.touched)">
          <strong>The registration code is incorrect.</strong>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeReg()">Close</button>
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
        <br/>
      </form>
    </div>
  </div>

<!-- NVM1100 Login Modal -->
  <div id="loginForm" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
      <form (submit)="login()" #formLogin="ngForm" id="login-form" role="form">

        <div class="form-group">
          <label for="">Your Email: </label>
          <input type="text" class="form-control" id="login-username" placeholder="Enter Email..." name="email" [(ngModel)]="user_log.email"
            #log_email="ngModel" required>
          <div *ngIf="log_email.invalid && (log_email.dirty || log_email.touched)">
            <div class="alert alert-dismissible alert-danger aler_log" role="alert">
              <div *ngIf="log_email.errors">
                <strong>
                  <span> Email is required.</span>
                </strong>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input id="login-password" type="password" class="form-control" placeholder="Enter Password..." name="password" [(ngModel)]="user_log.password"
            #log_password="ngModel" required>
          <!-- <p class="forgetpw" [routerLink]="['/forgetpw']">forgot password?</p> -->
          <div *ngIf="log_password.invalid && (log_password.dirty || log_password.touched)">
            <div class="alert alert-dismissible alert-danger aler_log" role="alert">
              <div *ngIf="log_password.errors">
                <strong>
                  <span> Password is required.</span>
                </strong>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeLogin()">Close</button>
          <button id="btn-login" [disabled]="formLogin.invalid" data-toggle="modal" class="btn btn-success">Submit</button>
        </div>
        <div class="alert alert-dismissible alert-danger aler_log" role="alert" *ngIf="error_message.login != ''">
          {{error_message.login}}
        </div>
        <br/>
      </form>
    </div>
  </div>

  <app-header></app-header>
  <app-display></app-display>
  <app-calendar class="calendar"></app-calendar>
  <app-footer></app-footer>

  <!-- NVM1200 Update Profile Modal -->
  <div id="updateForm" class="modal">
    <div class="modal-content">
      <h4>Want to Change From Student to Captain (or update your email)? Delete your student profile and create your new Captain profile!</h4>
      <button class="btn btn-danger" *ngIf="logged_user !== undefined" (click)="deleteProfile()">Delete Your Profile</button>
      <br>
      <button type="button" class="btn btn-primary" (click)="closeUpdate()">Close</button>
      
    </div>
  </div>

  <!-- NVM1300 Update Regcode Modal -->
<div id="codeForm" class="modal">
    <div class="modal-content">
        <form (submit)="updateCode()" #formCode="ngForm" id="code-form" role="form">
          <div class="form-group">
            <label for="">The Old GPYC REG Code: </label>
            <input type="text" class="form-control" id="oldregcode" placeholder="Enter Old Reg Code" name="oldregcode" [(ngModel)]="regcode.oldregcode">
          </div>
          <div class="form-group">
              <label for="">The New GPYC REG Code: </label>
              <input type="text" class="form-control" id="newregcode" placeholder="Enter Old Reg Code" name="newregcode" [(ngModel)]="regcode.newregcode">
          </div>
          <button class="btn btn-danger" *ngIf="logged_user !== undefined" (click)="updateCode()">Change the GPYC Reg Code</button>
          <button type="button" class="btn btn-primary" (click)="close_code()">Close</button>
          <div class="alert alert-danger" *ngIf="successMessage !== undefined ">
              {{regcode.message}} {{regcode.newregcode}}
            </div>
        </form>
    </div>
  </div>
</div>
