<!-- CA -->

<h1 class="sectionName">GPYC Events Calendar</h1>
<div id="calendar"></div>

<!-- #CAM100 NOT LOGGED IN/NOT YOUR EVENT MODAL -> SUBMIT TO: #CAT1000  ADD_CREW_SUBMIT() -->
<div id="myModal0" class="modal">
  <div class="modal-content">
    <h1 id="title"></h1>
    <p id="date"></p>
    <p id="timeRange"></p>
    <p id="vessel"></p>
    <p id="spec"></p>
    <p id="numCrew"></p>
    <p id="Message"></p>
    <h2>Current Crew for this Vessel:</h2>
    <p>Captain: {{crew.name1}}</p>
    <p>Captain Email: {{crew.email1}}</p>
    <div class="hide_email" *ngIf="crew.name2 !== undefined">
      <p>Crew #2 Name: {{crew.name2}}</p>
      <p>Crew #2 Email: {{crew.email2}}</p>
    </div>
    <div class="hide_email" *ngIf="crew.name3 !== undefined">
        <p>Crew #3 Name: {{crew.name3}}</p>
        <p>Crew #3 Email: {{crew.email3}}</p>
    </div>
    <div class="hide_email" *ngIf="crew.name4 !== undefined">
        <p>Crew #4 Name: {{crew.name4}}</p>
        <p>Crew #4 Email: {{crew.email4}}</p>
    </div>
    <div class="hide_email" *ngIf="crew.name5 !== undefined">
        <p>Crew #5 Name: {{crew.name5}}</p>
        <p>Crew #5 Email: {{crew.email5}}</p>
    </div>
    <div class="hide_email" *ngIf="crew.name6 !== undefined">
        <p>Crew #6 Name: {{crew.name6}}</p>
        <p>Crew #6 Email: {{crew.email6}}</p>
    </div>

        <form *ngIf="loginUser !== 'none'" (submit)="add_crew_submit()">
        <!-- #CAM110 SHOWS IF CAPTAIN AND NO CAPTAIN ASSIGNED -->
        <div id="crew_join_form" *ngIf="logged_identity == 'captain'">
          <div *ngIf="this.crew.name1 === 'We need a Captain!'">
            <p>Crew That have joined: {{crew.joined_crew-1}}</p>
            <button id="captainplus" type="button" (click)="captainplus()" class="btn btn-info"> Captain this Vessel!</button>
          </div>
          <button *ngIf="this.crew.name1 === logged_user" id="captainminus()" type="button" (click)="captainminus()" class="btn btn-info">Remove Captain</button>
        </div>

        <br>
        <!-- #CAM120 SHOWS IF THERE IS A CAPTAIN ASSIGNED -->
        <div *ngIf="this.crew.name1 !== 'We need a Captain!'">
            <p>Crew That have joined: {{crew.joined_crew}}</p>
        </div>

        <!-- #CAM130 ADD AND JOIN FORM FIELDS-->
        <div id="crew" class="form-group">
          <label>Join the Crew</label>
          <label>Add Crew Name: </label>
          <input type="text" name="crew2_name" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewname">
        </div> 

        <div id="crew" class="form-group">
          <label>Add Crew Email:</label>
          <input type="text" name="crew2_email" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewemail">
        </div>
        <button id="crewplus_modal0" type="button" (click)="lock_crew()" class="btn btn-info"> + </button>
        <button id="crewminus_modal0" type="button" (click)="lock_crew_minus()" class="btn btn-info"> - </button>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Cancel</button>
          <button class="btn btn-info">Submit</button>
        </div>
        <br>
      </form>
    </div>
</div>
<!-- #CAM100E END OF NOT LOGGED IN/NOT YOUR EVENT MODAL -->

<!-- #CAM200 CLICK ON EVENT INITIAL MODAL -->
<div id="myModal1" class="modal">
  <div class="modal-content">
    <button *ngIf="loginUser == 'student'" class="btn btn-primary butt1" (click)="student_req()">Seeking a Vessel</button>

    <button *ngIf="loginUser == 'captain'" class="btn btn-primary butt1" (click)="student_req()">Seeking a Vessel</button>
    <button *ngIf="loginUser == 'captain'" class="btn btn-primary butt2" (click)="captain_req()">Seeking a Crew</button>

    <button *ngIf="loginUser == 'none'" class="btn btn-primary butt3" (click)="req_login('log')">Login</button>
    <button *ngIf="loginUser == 'none'" class="btn btn-primary butt4" (click)="req_login('reg')">Register</button>
  </div>
</div>
<!-- #CAM200E END OF CLICK ON EVENT INITIAL MODAL -->

<!-- #CAM300 SEEKING A VESSEL EVENT - FROM: STUDENT_REQ() -->
<div id="myModal2" class="modal">
  <div class="modal-content">
    <form (submit)="student_submit()">
      <h1>Crew Seeking Vessel</h1>
      <div class="form-group">
        <label for="">Date</label>
        <br>
        <input type="text" class="form-control" name="date" disabled [(ngModel)]="date_display">
        <br>
      </div>
      <div class="form-group">
        <label>Time From: </label>
        <br>
        <input (click)="timeFrom()" class="form-control" value= {{student.timeFrom}}>
        <br>
      </div>
      <div class="form-group">
        <label>Time To: </label>
        <br>
        <input (click)="timeTo()" class="form-control" value= {{student.timeTo}}>
        <br>
      </div>
      <div class="form-group">
        <label for="">Message to Would-be Captains:</label>
        <br>
        <textarea name="message" class="form-control" cols="30" rows="3" [(ngModel)]="student.message"></textarea>
      </div>
      <label>Add Other Crew (besides yourself):</label>
      <p>Captain: {{crew.name1}}</p>
      <p>Captain Email: {{crew.email1}}</p>
      <div class="hide_email" *ngIf="crew.name2 !== undefined">
        <p>Crew #1 Name: {{crew.name2}}</p>
        <p>Crew #1 Email: {{crew.email2}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name3 !== undefined">
          <p>Crew #2 Name: {{crew.name3}}</p>
          <p>Crew #2 Email: {{crew.email3}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name4 !== undefined">
          <p>Crew #3 Name: {{crew.name4}}</p>
          <p>Crew #3 Email: {{crew.email4}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name5 !== undefined">
          <p>Crew #4 Name: {{crew.name5}}</p>
          <p>Crew #4 Email: {{crew.email5}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name6 !== undefined">
          <p>Crew #5 Name: {{crew.name6}}</p>
          <p>Crew #5 Email: {{crew.email6}}</p>
      </div>
      <div id="crew" class="form-group">
        <label>Add Crew Name:</label>
        <div class="hide_email" *ngIf="this.crew.name1 == 'We need a Captain!'">
            <p>Crew That have joined: {{crew.joined_crew-1}}</p>
        </div>
        <div class="hide_email" *ngIf="this.crew.name1 !== 'We need a Captain!'">
          <p>Crew That have joined: {{crew.joined_crew}}</p>
        </div>
        <input type="text" name="crew2_name" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewname">
      </div> 
      <div id="crew" class="form-group">
        <label>Add Crew Email:</label>
        <input type="text" name="crew2_email" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewemail">
      </div>
      <button id="crewplus" type="button" (click)="lock_crew()" class="btn btn-info"> + </button>
      <button id="crewminus" type="button" (click)="lock_crew_minus()" class="btn btn-info"> - </button>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button class="btn btn-info">Submit</button>
      </div>
      <br/>
    </form>
  </div>
</div>
<!-- #CAM300E SEEKING A VESSEL EVENT - FROM: STUDENT_REQ() -->


<!-- #CAM400 CAPTAIN CREATING EVENT - FROM: CAPTAIN_REQ() -->
<div id="myModal3" class="modal">
  <div class="modal-content">
    <form (submit)="captain_submit()">
      <h1>Captain Seeking Crew</h1>
      <div class="form-group">
        <label for="">Date</label>
        <input type="text" class="form-control" name="date" disabled [(ngModel)]="date_display">
      </div>
      <div class="form-group">
        <label>Time From: </label>
        <input (click)="timeFrom()" class="form-control" value= {{captain.timeFrom}}>
      </div>
      <div class="form-group">
        <label>Time To: </label>
        <input (click)="timeTo()" class="form-control" value= {{captain.timeTo}}>
      </div>
      <div class="form-group">
        <label for="">Vessel:</label>
        <input type="text" class="form-control" name="vessel" [(ngModel)]="captain.vessel">
      </div>
      <div class="form-group">
        <label for="">Specs:</label>
        <input type="text" class="form-control" name="specs" [(ngModel)]="captain.spec">
      </div>
      <div class="form-group">
        <label for="">Captains Log (Message):</label>
        <textarea name="message" class="form-control" rows="3" [(ngModel)]="captain.message"></textarea>
      </div>
      <div class="form-group">
        <label for="">Vessel Capacity (including yourself):</label>
        <input type="text" class="form-control" name="num_of_crew" [(ngModel)]="captain.NumOfCrew">
      </div>
      <label>Add Other Crew (besides yourself):</label>
      <p>Crew#1: {{crew.name1}}</p>
      <p>Crew#1 Email: {{crew.email1}}</p>
      <div class="hide_email" *ngIf="crew.name2 !== undefined">
        <p>Crew #2 Name: {{crew.name2}}</p>
        <p>Crew #2 Email: {{crew.email2}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name3 !== undefined">
          <p>Crew #3 Name: {{crew.name3}}</p>
          <p>Crew#3 Email: {{crew.email3}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name4 !== undefined">
          <p>Crew #4 Name: {{crew.name4}}</p>
          <p>Crew#4 Email: {{crew.email4}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name5 !== undefined">
          <p>Crew #5 Name: {{crew.name5}}</p>
          <p>Crew#5 Email: {{crew.email5}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name6 !== undefined">
          <p>Crew #6 Name: {{crew.name6}}</p>
          <p>Crew#6 Email: {{crew.email6}}</p>
      </div>
      <div id="crew" class="form-group">
        <label>Add Crew Name:</label>
        <p>Crew That have joined: {{crew.joined_crew}}</p>
        <input type="text" name="crew2_name" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewname">
      </div> 
      <div id="crew" class="form-group">
        <label>Add Crew Email:</label>
        <input type="text" name="crew2_email" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewemail">
      </div>
      <button id="crewplus_captain" type="button" (click)="lock_crew()" class="btn btn-info"> + </button>
      <button id="crewminus_captain" type="button" (click)="lock_crew_minus()" class="btn btn-info"> - </button>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button class="btn btn-info">Submit</button>
      </div>
      <br/>
    </form>
  </div>
</div>
<!-- #CAM400E CAPTAIN CREATING EVENT - FROM: CAPTAIN_REQ() -->


<!-- #CAM500 CAPTAIN UPDATE EVENT MODAL- FROM: CAPTAIN_REQ() -->
<div id="myModal4" class="modal">
  <div class="modal-content">
    <form (submit)="event_update()">
      <h1>Update your event</h1>
      <div class="form-group">
        <label for="">Date</label>
        <input type="text" class="form-control" name="date" disabled [(ngModel)]= "eventUpdate.date">
      </div>
      <div class="form-group">
        <label>Time From: </label>
        <input (click)="timeFrom()" class="form-control" value= {{eventUpdate.timeFrom}} name="timeFrom">
      </div>
      <div class="form-group">
        <label>Time To: </label>
        <input (click)="timeTo()" class="form-control" value= {{eventUpdate.timeTo}} name="timeTo">
      </div>
      <div class="form-group">
        <label for="">Vessel:</label>
        <input type="text" class="form-control" name="vessel" [(ngModel)]="eventUpdate.vessel">
      </div>
      <div class="form-group">
        <label for="">Specs:</label>
        <input type="text" class="form-control" name="specs" [(ngModel)]="eventUpdate.spec">
      </div>
      <div class="form-group">
        <label for="">Captains Log (Message):</label>
        <textarea name="message" class="form-control" rows="3" [(ngModel)]="eventUpdate.message"></textarea>
      </div>
      <div class="form-group">
        <label for="">Number of Crew You Seek:</label>
        <input type="number" class="form-control" name="num_of_crew" [(ngModel)]="eventUpdate.NumOfCrew">
      </div>
      <label>Add Other Crew (besides yourself):</label>
      <p>Crew#1: {{logged_user}}</p>
      <p>Crew#1 Email: {{logged_email}}</p>
      <div class="hide_email" *ngIf="crew.name2 !== undefined">
        <p>Crew #2 Name: {{crew.name2}}</p>
        <p>Crew #2 Email: {{crew.email2}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name3 !== undefined">
          <p>Crew #3 Name: {{crew.name3}}</p>
          <p>Crew#3 Email: {{crew.email3}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name4 !== undefined">
          <p>Crew #4 Name: {{crew.name4}}</p>
          <p>Crew#4 Email: {{crew.email4}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name5 !== undefined">
          <p>Crew #5 Name: {{crew.name5}}</p>
          <p>Crew#5 Email: {{crew.email5}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name6 !== undefined">
          <p>Crew #6 Name: {{crew.name6}}</p>
          <p>Crew#6 Email: {{crew.email6}}</p>
          <p>Crew That have joined: {{crew.joined_crew}}</p>
      </div>
    <br><br> 
      <div id="crew" class="form-group">
        <label>Add Crew Name:</label>
        <input type="text" name="crew2_name" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewname">
      </div> 
      <div id="crew" class="form-group">
        <label>Add Crew Email:</label>
        <input type="text" name="crew2_email" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewemail">
      </div>
      <button id="crewplus_update" type="button" (click)="lock_crew()" class="btn btn-info"> + </button>
      <button id="crewminus_update" type="button" (click)="lock_crew_minus()" class="btn btn-info"> - </button>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button class="btn btn-info" >Update</button>
      </div>
      <br/>
    </form>
    <!-- #CAD550 -->
    <button id="deleteBtn" *ngIf="user_data._id === event_created_by" (click)="delete(event_id)" class="btn btn-danger">Delete</button>
  </div>
</div>
<!-- #CAM500E CAPTAIN UPDATE EVENT MODAL  -->


<!-- #CAM600 STUDENT UPDATE EVENT MODAL  -->
<div id="myModal5" class="modal">
  <div class="modal-content">
    <form (submit)="event_update()">
      <h1>Update your event</h1>
      <div class="form-group">
        <label for="">Date</label>
        <input type="text" class="form-control" name="date" disabled [(ngModel)]="eventUpdate.date">
      </div>
      <div class="form-group">
        <label>Time From: </label>
        <input (click)="timeFrom()" class="form-control" [(ngModel)]="eventUpdate.timeFrom" name="timeFrom">
      </div>
      <div class="form-group">
        <label>Time To: </label>
        <input (click)="timeTo()" class="form-control" [(ngModel)]="eventUpdate.timeTo" name="timeTo">
      </div>
      <div class="form-group">
        <label for="">Captains Log (Message):</label>
        <textarea name="message" class="form-control" rows="3" [(ngModel)]="eventUpdate.message"></textarea>
      </div>
      <label>Add Other Crew (besides yourself):</label>
      <p>Captain: {{crew.name1}}</p>
      <p>Captain Email: {{crew.email1}}</p>
      <div class="hide_email" *ngIf="crew.name2 !== undefined">
        <p>Crew #1 Name: {{crew.name2}}</p>
        <p>Crew #1 Email: {{crew.email2}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name3 !== undefined">
          <p>Crew #2 Name: {{crew.name3}}</p>
          <p>Crew #2 Email: {{crew.email3}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name4 !== undefined">
          <p>Crew #3 Name: {{crew.name4}}</p>
          <p>Crew #3 Email: {{crew.email4}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name5 !== undefined">
          <p>Crew #4 Name: {{crew.name5}}</p>
          <p>Crew #4 Email: {{crew.email5}}</p>
      </div>
      <div class="hide_email" *ngIf="crew.name6 !== undefined">
          <p>Crew #5 Name: {{crew.name6}}</p>
          <p>Crew #5 Email: {{crew.email6}}</p>
      </div>
    <br><br> 
      <div id="crew" class="form-group">
        <label>Add Crew Name:</label>
        <div *ngIf="this.crew.name1 !== 'We need a Captain!'">
          <p>Crew That have joined: {{crew.joined_crew}}</p>
        </div>
        <div *ngIf="this.crew.name1 === 'We need a Captain!'">
            <p>Crew That have joined: {{crew.joined_crew-1}}</p>
        </div>
        <input type="text" name="crew2_name" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewname">
      </div> 
      <div id="crew" class="form-group">
        <label>Add Crew Email:</label>
        <input type="text" name="crew2_email" class="form-control" [disabled]="crewlock.crew2_lock" [(ngModel)]="crewemail">
      </div>
      <button id="crewplus_event" type="button" (click)="lock_crew()" class="btn btn-info"> + </button>
      <button id="crewminus_event" type="button" (click)="lock_crew_minus()" class="btn btn-info"> - </button>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button class="btn btn-info">Submit</button>
      </div>
      <br/>
    </form>
    <button id="deleteBtn" *ngIf="user_data._id == event_created_by" (click)="delete(event_id)" class="btn btn-danger">Delete</button>
  </div>
</div>
<!-- #CAM600E STUDENT UPDATE EVENT MODAL  -->