<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="content">
          <strong>Welcome</strong>
          to the Great Pond Yacht Club women’s learn-to-sail program. This program is designed to give women the tools and
          know-how to sail with confidence in whatever capacity they choose. </p>
        <p class="content">
          <strong>Mentorship</strong>
          The pressure-free mentor approach and flexible schedule will give you the freedom to set your own learning pace.
          The sailing mentors (captains) are GPYC members that look forward to getting to know you and helping you learn;
          whether your goals are to become a comfortable mate or to take the helm and captain your first race. We can help!</p>
      </div>
      <div class="col-md-4">
        <div class="imgAbt">
          <img width="300" height="300" src="../../assets/images/rainbow.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="content">
          <strong>How it works</strong>
          All potential students first create a profile with basic information. There is no commitment to sail at this time.
          However, to sign up for a sail, all students must have a WSP Registration code.</p>
        <p class="content">
          <strong>Captains</strong>
          The captains are your mentors and are offering the sailing instruction on the day and time listed on the events calendar.
        </p>
      </div>

      <div class="col-md-4">
        <div class="imgAbt">
          <img width="300" height="300" src="../../assets/images/whiteboat.jpg" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="content">
          <strong>Events Calendar</strong>
          On our events calendar you will see names of members who have offered to Captain a vessel or who have requested a Captain. If you are logged in, clicking on the event will
          take you to a popout displaying the event specifics from the captain or student. Events created by captains appear in blue, and events created by students appear in green. 
          As long as the boat is not already at capacity, you may add your name and email (optional) to the event. Up to 6 people may sign up for an event. Be aware that for flexibility, any signed-in member may remove any crew-member, so don't delete 
          your friends by mistake! If you add your email, you will receive an email when the event changes.</p>
        <p class="content">
          <strong>Request a Captain</strong>
          Students may request a Captain/vessel on the calendar. Just click on the day within the calendar that
          you are hoping to sail. For example, if you are hoping to sail on Tuesday, July 9, click on the day within the calendar, then 'seeking a vessel' when it pops up, 
          and then fill in the specifics of when you would like to sail, and anyone you would like to bring! If you already have access to a vessel, just note that in the message. If you want to request a specific person to be your captain/crew, enter 
          something like 'want to Captain?' under the name field, and the persons email, and they will get an email!</p>
      </div>
      <div class="col-md-4">
        <div class="imgAbt">
          <img width="300" height="300" src="../../assets/images/boat.jpg" />
        </div>
      </div>
    </div>
  </div>
</body>