
<div class="centered">

        <form (submit)="login()" #formLogin="ngForm" id="login-form" role="form">
          <h1>Hi {{user_name}},</h1><br><h2> Welcome back! Please log in.</h2>
      
          <div class="form-group">
            <label for="">Your Email: </label>
            <input type="text" class="form-control" id="login-username" placeholder="Enter Email..." name="email" [(ngModel)]="user_log.email"
              #log_email="ngModel" required>
            <div *ngIf="log_email.invalid && (log_email.dirty || log_email.touched)">
              <div class="alert alert-dismissible alert-danger aler_log" role="alert">
                <div *ngIf="log_email.errors.required">
                  <span> Email is required.</span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Password</label>
            <input id="login-password" type="password" class="form-control" placeholder="Enter Password..." name="password" [(ngModel)]="user_log.password"
              #log_password="ngModel" required>
            <div *ngIf="log_password.invalid && (log_password.dirty || log_password.touched)">
              <div class="alert alert-dismissible alert-danger aler_log" role="alert">
                <div *ngIf="log_password.errors.required">
                  <span> Password is required.</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" *ngIf="error_message.code == 404">Send Activation Email</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <button id="btn-login" [disabled]="formLogin.invalid" class="btn btn-success">Submit</button>
          </div>
          <div class="alert alert-dismissible alert-danger aler_log" role="alert" *ngIf="error_message.login != ''">
            {{error_message.login}}
          </div>
          <br/>
        </form>
      